@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #222;
  --title: #222;
  --bg: white;
  --code-bg: #232936;
  --link: #d23669;
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  --khaki: #8f784b;
}
@property --myColor1 {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}
@property --myColor2 {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}
@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    transform: none !important;
  }
}
